/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
    text-align: center;
    color: #fff;
}

/* COMMON */

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

h1 {
    margin: 30px 0;
    font-size: 60px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(39, 39, 145);
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin: 3px;
    font-size: 30px;
    border-radius: 30px;
    transition: 1s;
}

.number:hover {
    transform: scale(80%);
    font-size: 100px;
    color: gold;
}

.fizz {
    background-color: rgb(0, 175, 29);
}

.buzz {
    background-color: orange;
}

.fizzbuzz {
    background-color: red;
}